input.SearchTextBox {
    width:30% !important;
    margin-right:2px !important;
    border: 1px solid #bbb !important;
    padding:2px 2px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    height: 30px;
  }