<section class="content-subHeader" id="RowShow" >
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border" style="padding: 9px !important">
          <h3 class="box-title">
              <div *ngIf="!requestType">
              <!-- <button type="button" class="btn btn-primary" id="btnFavouritesSearch"><i class="fa fa-music" aria-hidden="true" ></i> Devotional</button>  -->
                <div>
                  <span pTooltip="{{gridvalue.PlaylistName}}" tooltipPosition="top" ><i class="fa fa-music fa-lg" aria-hidden="true" ></i> {{(gridvalue.PlaylistName.length>50)? (gridvalue.PlaylistName | slice:0:49)+'..':(gridvalue.PlaylistName) }}</span>
                </div>

                </div>
          <div *ngIf="requestType">            
            <span style="color:black;">{{showName}}&nbsp;</span>
            <span *ngIf="episodeType=='tentative'">
              <small style="color:black;"> <b> - {{newMusicConsumptionRequest.EpisodeFrom}}</b></small>
            </span>
            <span *ngIf="episodeType=='range'">
              <small style="color:black;"> <b>{{newMusicConsumptionRequest.EpisodeFrom}} - {{newMusicConsumptionRequest.EpisodeTo}}</b></small>
            </span>
            <span [hidden]="!isClick">
              (<small style="color:black">   <span pTooltip="{{playListName}}" tooltipPosition="top" ><i class="fa fa-music fa-lg" aria-hidden="true" ></i>  <b>&nbsp;{{(playListName.length>50)? (playListName | slice:0:49)+'..':(playListName) }}</b> </span> </small>)
            </span>
          </div>
          </h3>
          
          <div class="box-tools">
              
              <div class="btn-group" *ngIf="requestType">
              <button type="button" class="btn btn-primary" id="btnFavouritesSearch" *ngIf="toplist.length>=1" (click)="listWiseGridSearch(toplist[0].MHPlayListCode,toplist[0].PlaylistName)" ><i class="fa fa-music" aria-hidden="true" data-toggle="tooltip" title="{{toplist[0].PlaylistName}}" ></i></button>
              <button type="button" class="btn btn-info" id="btnSoundtrackSearch"  *ngIf="toplist.length>=2"(click)="listWiseGridSearch(toplist[1].MHPlayListCode,toplist[1].PlaylistName)"><i class="fa fa-music" aria-hidden="true"data-toggle="tooltip" title="{{toplist[1].PlaylistName}}" ></i></button>
              <button type="button" class="btn btn-success" id="btnPopularSearch" *ngIf="toplist.length>=3" (click)="listWiseGridSearch(toplist[2].MHPlayListCode,toplist[2].PlaylistName)" ><i class="fa fa-music" aria-hidden="true" data-toggle="tooltip" title="{{toplist[2].PlaylistName}}" ></i></button>
              <div class="btn-group" *ngIf="listDetail1.length>=1" >
              
                  <div  class="dropdown staticdropdown" >
                        
                  <button type="button" class="btn btncss dropdown-toggle" id="btnPopularSearch"  data-toggle="dropdown" ><i class="fa fa-list-ul" aria-hidden="true" data-toggle="tooltip" title="Play Lists"></i></button>
              <!-- <div class=""></div> -->
                  <!-- <div class=""> -->
                          <ul class="dropdown-menu dropdown-menu-right filter-menu" >
                            <li class="dropdown-header">Play Lists</li>
                           
                            <li class="searchbody">
                              
                                  <input [(ngModel)]="searchText1" class="listsearch" placeholder="Search List Here">
                              
                              </li>
                            
                            <div class="dropdwnbody1" >
                              <li *ngFor="let c1 of listDetail1 | filter:searchText1" (click)="listWiseGridSearch(c1.MHPlayListCode,c1.PlaylistName)">
                                  <a>
                                    <span pTooltip="{{c1.PlaylistName}}" tooltipPosition="top">
                                        {{(c1.PlaylistName.length>20)? (c1.PlaylistName | slice:0:20)+'..':(c1.PlaylistName) }}
                                    </span>
                                      
                                    </a> 
                              </li>
                            
                          </div>
                            
                          </ul>
                        <!-- </div> -->
                        </div>
              
              
            </div>&nbsp;
              </div>
              
              
                  <!-- <button type="button" class="btn btn-success dropdown-toggle" id="btnPopularSearch"  data-toggle="dropdown" ><i class="fa fa-list-ul" aria-hidden="true" data-toggle="tooltip" title="Play List!"></i></button> -->

                             <span style="margin-right: -5px;">   <button class="btn btn--with-icon btn-social btn-danger" [disabled]="!cartListCount" data-toggle="modal" (click)="cartModalShow()" >
              <i class="fa fa-shopping-cart"></i> Cart(<span id="cartCount">{{cartListCount}}</span>)</button>
              </span>

            </div>

        </div>
        <div class="box-body" *ngIf="requestType">
          <div class="block" >
            <form #searchForm="ngForm">
              <span style="width:5%">
                <!-- <select name="ddlMusicLabel" id="ddlMusicLabel" class="chosen-select ddlwidth2" [(ngModel)]="newSearchRequest.MusicLabelCode">
      <option value="0">Select a music label</option>
      <option *ngFor="let label of musicLabelList" [value]="label.Music_Label_Code">
        {{label.Music_Label_Name}}
      </option>
    </select> -->
                <p-dropdown [options]="musicLabelList" [style]="{'width':'150px'}" [autoWidth]="false" [(ngModel)]="newSearchRequest.MusicLabelCode"
                            name=labelname optionLabel="MusicLabelName" [resetFilterOnHide]="true" filter="true"></p-dropdown>
              </span>&nbsp;
              <span style="width:10%">
                <input type="text" style="width:130px !important" name="musicTrack" value="" placeholder="Music Track" class="RequestTextBox" name="musicTrack" [(ngModel)]="newSearchRequest.MusicTrack">
              </span>&nbsp;
              <span>
                <input style="width:130px !important" type="text" name="musicRequest" value="" placeholder="Movie" class="RequestTextBox" name="movieName" [(ngModel)]="newSearchRequest.MovieName">
              </span>&nbsp;
              <span style="width:10%">
                <!-- <select name="ddlGenre" style="width:15%" id="ddlGenre" name="genreCode" class="chosen-select ddlwidth2" [(ngModel)]="newSearchRequest.GenreCode">
      <option value="0">Select a genre</option>
      <option *ngFor="let label of getGenreList" [value]="label.Genres_Code">
        {{label.Genres_Name}}
      </option>
    </select> -->
                <p-dropdown [options]="getGenreList" [style]="{'width':'150px'}" [autoWidth]="false" [(ngModel)]="newSearchRequest.GenreCode"
                            name=genrename optionLabel="Genres_Name" [resetFilterOnHide]="true" filter="true"></p-dropdown>
              </span>&nbsp;
              <span>
                <input style="width:130px !important" type="text" value="" name="talentName" placeholder="Talent" class="RequestTextBox" name="talentName" [(ngModel)]="newSearchRequest.TalentName">
              </span>&nbsp;
              <span>
                <input style="width:130px !important" type="text" value="" name="tag" placeholder="Tag" class="RequestTextBox" [(ngModel)]="newSearchRequest.Tag">
              </span>&nbsp;
              <span style="width:5%">
                <p-dropdown [options]="languageList" [style]="{'width':'150px'}" [autoWidth]="false" [(ngModel)]="newSearchRequest.MusicLanguageCode"
                name=languagename  optionLabel="Language_Name" [resetFilterOnHide]="true" filter="true"></p-dropdown>
              </span>&nbsp;
              <span style="width:10%" (click)="searchTrack()">
                <a id="Search_muiscLable" class="btn btn-social btn-sm btn-primary btn-flat" style="height: 30px;">
                  <i class="fa fa-search"></i>Search
                </a>
              </span>&nbsp;
              <span style="width:10%" (click)="clearSearch()">
                <a id="Search_muiscLable" class="btn btn-social btn-sm btn-primary btn-flat" style="height: 30px;">
                  <i class="fa fa-refresh"></i>Clear All
                </a>
              </span>
            </form>
          </div>

        </div>
        <div class="box-body">
            <!-- <div class="Row"> -->
                <!-- <div>
                  <label>Search</label>&nbsp;
                  <input id="input" class="SearchTextBox" #trackSearch type="text" size="30" placeholder=""
                    pInputText [(ngModel)]="text">
          
                </div> -->
          
              <!-- </div> -->
              <!-- <br> -->
              <div class="Row" *ngIf="searchShowGrid">
                  <!-- selectionMode="single" -->
                  <p-dataTable class="pcolumncursor" [value]="searchList"   (onRowDblclick)="addToCart($event)" [rowsPerPageOptions]="[25,50,75,100]" [globalFilter]="trackSearch" [paginator]="true" [rows]="25"  
            [responsive]="true" [alwaysShowPaginator]="true" [totalRecords]="recordCount"  (onLazyLoad)="loadDataOnPagination($event)" [lazy]="true"   [first]="first">
            <!-- (onPage)="paginationchange($event)" -->
            <p-column field="MusicTrack" header="Music Track" [sortable]="true" >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.MusicTrack}}" tooltipPosition="top">{{row.MusicTrack}}</span> 
               </ng-template>
            </p-column>
            <p-column field="Movie"  header="Movie" [sortable]="true" styleClass="text-center"  >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
               <span pTooltip="{{row.Movie}}" tooltipPosition="top">{{row.Movie}}</span> 
              </ng-template>
            </p-column>
            <p-column field="Genre" header="Genre" [sortable]="true" width="10" styleClass="text-center" >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.Genre}}" tooltipPosition="top">{{row.Genre}}</span> 
               </ng-template>
            </p-column>
            <p-column field="StarCast" header="Star Cast" [sortable]="true" width="10"  >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.StarCast}}" tooltipPosition="top">{{row.StarCast}}</span> 
               </ng-template>
            </p-column>
            <p-column field="Singers" header="Singers" [sortable]="true" width="10"  >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.Singers}}" tooltipPosition="top">{{row.Singers}}</span> 
               </ng-template>
            </p-column>
            <p-column field="MusicComposer" header="Music Composer" [sortable]="true"[style]=" {'width':'145px'}"  >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.MusicComposer}}" tooltipPosition="top">{{row.MusicComposer}}</span> 
               </ng-template>
            </p-column>            
            <p-column field="Tag" header="Tag" [sortable]="true" width="10" styleClass="text-center" >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.Tag}}" tooltipPosition="top">{{row.Tag}}</span> 
               </ng-template>
            </p-column>
            <p-column field="MusicLabel" header="Music Label" [sortable]="true" width="10" styleClass="text-center" >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.MusicLabel}}" tooltipPosition="top">{{row.MusicLabel}}</span> 
               </ng-template>
            </p-column>
            <p-column field="MusicLanguage" header="Language" [sortable]="true" [style]=" {'width':'100px'}" styleClass="text-center" >
              <ng-template pTemplate="body"  let-row="rowData" let-index="rowIndex" let-col>
                <span pTooltip="{{row.MusicLanguage}}" tooltipPosition="top">{{row.MusicLanguage}}</span> 
               </ng-template>
            </p-column>
            <p-column field="Action" header="Add to Playlist"   [editable]="true" [style]=" {'width':'80px'}" styleClass="text-center columnstyle" >
              <ng-template pTemplate="body" let-row="rowData" let-index="rowIndex" let-col>
                  <!-- <p-dropdown class="classcss" appendTo="body"  [options]="musicLabelList" [autoWidth]="false"   [(ngModel)]="row[col.field]" [style]=" {'width':'150px' }" required name="MusicLabelCode'{{i}}'" #MusicLabelCode{{i}}="ngModel"  placeholder="Select Music Label" optionLabel="Music_Label_Name" filter="true" [showClear]="true"></p-dropdown> -->
                  <!-- <p-multiSelect   [options]="playlist" appendTo="body" optionLabel="playlist_Name" [style]=" {'width':'100px' }" [(ngModel)]="row[col.field]" placeholder="Select Play List" [panelStyle]="{minWidth:'10px'}">
                    <p-footer>
                    
                      <button pButton type="button"  label="Add New"></button>
                  </p-footer>
                  </p-multiSelect> -->
                  <!-- <p-tieredMenu #menu [model]="items" [popup]="true" appendTo="body" [style]="{'overflow-y':'auto','height':'80px' }"></p-tieredMenu> -->
<!-- <button #btn type="button" pButton icon="fa fa-fw fa-plus"  (click)="menu.toggle($event)"><img  src="../../../assets/Images/viacom18_small.png" alt="Viacom18" /></button> -->
<!-- <a class="btn  btn-with-icon  btn-primary" (click)="menu.toggle($event)"> -->
<!-- <img  src="../../../assets/Images/playlist_small.png" (click)="menu.toggle($event)" alt="Viacom18" />  -->
<!-- </a> -->
<div  class="dropdown staticdropdown">
<!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
<span class="caret"></span></button> -->
<img  src="../../../assets/Images/playlist_small.png" class="dropdown-toggle" data-toggle="dropdown"  alt="Playlists" (click)="playListClick()"/>

<ul class="dropdown-menu dropdown-menu-right grid-menu">
<li class="dropdown-header">Play Lists</li>

<li class="searchbody">
  <!-- <div id="searchbody"> -->
      <input [(ngModel)]="searchText" class="listsearch" placeholder="Search List Here">
  <!-- </div> -->
  </li>
<!-- style="height:100px;overflow-y: auto;" -->
<div class="dropdwnbody" >
  <li *ngFor="let c of listdetail | filter:searchText" (click)="attachPlayList(row,c)">
      <a>
          <span pTooltip="{{c.PlaylistName}}" tooltipPosition="top">
              {{(c.PlaylistName.length>20)? (c.PlaylistName | slice:0:20)+'..':(c.PlaylistName) }}
          </span></a>
          <!-- {{c.PlaylistName}}  -->
  </li>
<!-- <li (click)="devclick()"><a><i ></i>Devotional</a></li>
<li><a >Trditional</a></li>
<li><a >Romentic</a></li>
<li><a >Sad</a></li>
<li><a >Happy</a></li>
<li><a >Old</a></li> -->
</div>
<li class="divider"></li>
<!-- <li class="dropdown-header">Dropdown header 2</li> -->
<li>
    <a (click)="addNewPlaylist(row)"><i class="fa fa-plus"></i>Add New</a>
  <!-- <button type="button" class="btn btn-info btn-xs">
  <i class="fa fa-plus" aria-hidden="true"></i> Add New</button> -->
</li>
</ul>
</div>

              </ng-template>
            </p-column>
            <p-footer>
                Total Records: {{recordCount}}
              </p-footer>
          </p-dataTable>
              </div>

          

        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal right fade" id="Modal_MusicHub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="sidebar-header bottomBorder">
        <div class="sidebar-close na_bg2">
          <button type="button" class="close" (click)="modalclose()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h2>&nbsp;Cart(<span id="panelCount">{{cartListCount}}</span>) -
          <small>{{showName}}</small>
        </h2>
      </div>
      <div class="modal-body" style="margin-top:50px;">
        <div id="tblEpisode Details">
          <div class="details-div">
            <div *ngIf="episodeType=='tentative'">
              <span class="info-box-text">
                <span class="pull-left">
                  <strong>Episode no. : </strong>
                  <small>{{newMusicConsumptionRequest.EpisodeFrom}}</small>
                </span>
                <span class="pull-right">
                  <strong> Telecast Date : </strong>
                  <small>{{newMusicConsumptionRequest.TelecastFrom |date:'dd-MMM-yyyy'}}</small>
                </span>

              </span>

            </div>
            <div *ngIf="episodeType=='range'">
              <span class="info-box-text">
                <span class="pull-left">
                  <strong>Episode no. range : </strong>
                  <small>{{newMusicConsumptionRequest.EpisodeFrom}} - {{newMusicConsumptionRequest.EpisodeTo}}</small>
                </span>
                <span class="pull-right">
                  <strong>Telecast Date range : </strong>
                  <!-- HH:mm a -->
                  <small>{{newMusicConsumptionRequest.TelecastFrom | date:'dd-MMM-yyyy '}} - {{newMusicConsumptionRequest.TelecastTo
                    | date:'dd-MMM-yyyy '}}</small>
                </span>

              </span>
            </div>
          </div>



          <div class="modal-body" id="tblPanel">
              
            <div class="cart-div">
              <div *ngFor="let cartTrack of cartList" class="SidebarPanel " id="rowPanel1">
                <!-- <div class="oneDiv">
                  <img src="../img/movieImg.png">
                </div> -->
                <div class="twoDiv">
                  <span class="info-box-text">Music Track / Movie Name:
                    <small style="float:right;">Id:</small>
                  </span>
                  <span class="info-box-number">{{cartTrack.MusicTrack}}
                    <small>({{cartTrack.Movie}} ) </small>
                    <small class="bold" style="float:right;"> {{cartTrack.Music_Title_Code}}</small>
                  </span>
                  <span class="info-box-text">Music Label / Genre:
                    <small class="bold">{{cartTrack.MusicLabel}} / {{cartTrack.Genre}}</small>
                  </span>
                  <span class="info-box-text" >Star Cast / Music Composer / Singer:
                    <!--  -->
                    <small class="bold" >
                      <span data-toggle="tooltip" data-placement="left" title="{{cartTrack.StarCast}} / {{cartTrack.MusicComposer}} / {{cartTrack.Singers}}">{{cartTrack.StarCast}} / {{cartTrack.MusicComposer}} / {{cartTrack.Singers}}</span> </small>
                  </span>
                  <span class="info-box-text">Tag:
                    <small class="bold">{{cartTrack.Tag}}</small>
                    <small style="float:right;">
                      <a class="btn btn--with-icon btn-social btn-danger" id="CartDelete1" (click)="removeFromCart(cartTrack)">
                        <i class="fa fa-trash"></i> Remove</a>
                    </small>
                  </span>
                </div>
              </div>
            </div>
            

            <div class="SidebarPanel remarkDiv" style="margin-left:-13px;">
              <label for="comment">Remark </label> (
              <i>{{textRemarkCount}} / 4000 </i> )
              <span style="color:red">*</span>
              <textarea style="resize:none" rows="3" id="remark" [(ngModel)]="newMusicConsumptionRequest.Remarks" (ngModelChange)="consumptionCartRemarkChange()"
                required name="Remarks" maxlength=4000></textarea>

            </div>
            <div class="box-footer clearfix" style="margin-left:-22px; ">
              <button id="btnApproval" [disabled]="!newMusicConsumptionRequest.Remarks || !cartListCount ||validateCartRemark" class="btn btn-sm btn-social btn-primary btn-flat pull-left"
                (click)="submitRequest()" style="margin-right: 5px;">
                <i class="fa fa-check-square-o"></i>Submit for Viacom18 Approval</button>
            </div>
            
          </div>


        </div>
        <!-- modal-content -->
      </div>
      <!-- modal-dialog -->
    </div>
    <!-- Control Sidebar -->
   
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

  </div>

</div>
<p-dialog [(visible)]="displayAddNewPlayList" [blockScroll]="true"  [positionTop]="60" [modal]="true"  [width]="400" [draggable]="false">
  <p-header >
      Play List 
  </p-header>
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="col-md-2">
            
      </div> -->
      <!-- <div class="col-md-9"> -->
         Play List Name:
          <input id="input" class="ReqTextBox" type="text" placeholder="Play List" maxlength="50" [(ngModel)]="newPlayListName" (ngModelChange)="newPlayListName.trim()==''? newPlayListName='':newPlayListName=newPlayListName" pInputText [(ngModel)]="text"> 
      <!-- </div> -->

    </div>

  </div>
  <!-- {{alertErrorMessage}} -->
  <p-footer>
      <button pButton type="button" (click)="createPlayList()" label="Create" [disabled]="!newPlayListName"  class="btn btn-info btn-xs"></button>
  </p-footer>
  
</p-dialog>
<div *ngIf="displayalertMessage">
  <app-message-box  [messageData]="messageData"></app-message-box>

</div>
<p-dialog [(visible)]="displaySubmitMessage" (click)="onMessageModalClick()" [blockScroll]="true" [modal]="true"  [positionTop]="60" [width]="500" [responsive]="false" [draggable]="false">
  <p-header>
      {{alertHeader}}
  </p-header>
  {{alertMessage}}
  <p-footer>
    <button type="button" pButton  label="Close"></button>
    
  </p-footer>
</p-dialog>
<!-- <div class="modal fade" id="messageModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onMessageModalClick()">&times;</button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <p>{{alertMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onMessageModalClick()">OK</button>
      </div>
    </div>
  </div>
</div> -->
<div [hidden]="!load" id="loadingDiv"></div>
