@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script>
    $(document).ready(function () {
        initializeDatepicker();
    });

    function ClosePopup() {
        // $('#ddlLanguages').val("");
        $('#popDealAmendmentHistoryPopup').modal('hide');

    }
</script>
<style>
    td{
        padding:1%
    }
</style>
<div class="modal_block modal_header">
    <a class="close" onclick="ClosePopup()">
        <span>X</span>
        <span class="sr-only">Close</span>
    </a>
    <h2>Agreement Amendment Details</h2>
</div>
@using (Ajax.BeginForm("SaveTerritory", "Territory", new AjaxOptions() { OnSuccess = "SaveSuccess" }))
{
    <div class="modal_block sty" style="margin-left: 10px;margin-right: 10px;">
        <table class="add_title_popup">
            <tr>
                <td style="width:2%"><b>Amendment Date</b></td>
                <td style="width:12%">
                    <input type="hidden" id="hdnStartDate" />
                    <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="DD/MM/YYYY" width="100"
                           title="@objMessageKey.StartDate" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                </td>
            </tr>
            <tr>
                <td><b>Amended By</b></td>
                <td><input type="text" name="AmendedBy" id="txtAmendedBy" class="textbox" maxlength="50" value="" /></td>
            </tr>
            <tr>
                <td><b>Remarks</b></td>
                <td><input type="text" name="Remarks" id="txtRemarks" class="textbox" maxlength="50" value="" /></td>
            </tr>
        </table>
    </div>
    <div class="modal_block_full" style="margin-top: 10px;">
        <div class="form_links">
            <ul class="modal_block clearfix" style="padding-left:10px; padding-top: 10px;">
                <li>
                    <input type="submit" class="btn btn-primary" value="@objMessageKey.Save" onclick="return ValidateSave()" />
                    <input type="button" class="btn btn-primary" value="@objMessageKey.Cancel" onclick="ClosePopup()" />
                </li>
            </ul>
        </div>
    </div>
}