<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <add name="DbConn" connectionString="Data Source=192.168.0.115;Initial Catalog=RightsU_Plus_Testing;User ID=dbserver2012;password=dbserver2012;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
      <!--<add name="DbConn" connectionString="Data Source=163.182.171.194;Initial Catalog=RightsU_Aeroplay;User ID=sa;password=QWEpoi#123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
      <add key="UploadFilePath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\Download\BookingSheet\"/>
      <add key="ImportFilePath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\UploadFolder\BookingSheet\"/>
      <!--<add key="LogFilePath" value="E:\\Apps\\BookingSheet Export" />-->
      <!--<add key="LogFilePath" value="C:\\LogFile" />-->
      <add key="LogFilePath" value="E:\\UTO_Projects\\BookingSheet\\Window Service\\RightsU_BookingSheet_Export_CA\\RightsU_BookingSheet_Export_CA"/>
    </appSettings>    
</configuration>
