.search_area {
    border-bottom: 1px dotted #777;
    margin-bottom: 5px;
}

#divSearch {
    padding: 6px 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
}

    #divSearch > ul > li {
        float: left;
        min-height: 56px;
        list-style-type: none;
        padding: 0 3px;
    }

    #divSearch .chosen-container {
        margin: 0;
    }

    #divSearch .checkbox-inline {
        margin-bottom: 7px;
    }

ul.first > li {
    width: 16%;
}

    ul.first > li:nth-child(2) {
        width: 20%;
    }

    ul.first > li:last-child {
        width: 16%;
    }

ul.second > li {
    width: 27%;
}

    ul.second > li:last-child {
        width: 19%;
    }

#divSearch label {
    display: inline-block;
}

#lbSearchTitles_chosen {
    width: 85% !Important;
}

.deal ul:first-child {
    line-height: 28px;
}

li.deal_action {
    /*width: 19% !important;*/
    float: right;
    /*text-align: right;*/
}

li.deal_territory {
    width: 15% !important;
    padding-left: 2px;
}

/*ADESH*/
