<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--DATABASE RELATED KEYS -->
    <add key="UserId" value="sa" />
    <add key="Password" value="Gtpl@123" />
    <add key="DataServer" value="192.168.1.45" />
    <add key="TimeOut" value="20000000" />
    <add key="RightsU" value="Rightsu_Plus_testing" />
    <add key="RightsU_VMPL" value="Rightsu_Plus_testing" />
    <add key="EF_TimeOut" value="300" />
    <!--<add key="UserId" value="rightsu" />
    <add key="Password" value="Welcome@123" />
    <add key="DataServer" value="172.25.16.144" />
    <add key="TimeOut" value="20000000" />
    <add key="RightsU" value="RightsU_Broadcast" />
    <add key="RightsU_VMPL" value="RightsU_VMPL" />
    <add key="EF_TimeOut" value="300" />-->
    <!--<add key="UserId" value="rightsu" />
    <add key="Password" value="Welcome@123" />
    <add key="DataServer" value="172.25.16.143" />
    <add key="TimeOut" value="20000000" />
    <add key="RightsU" value="RightsU_Broadcast_04Oct" />
    <add key="RightsU_VMPL" value="RightsU_Broadcast_04Oct" />
    <add key="EF_TimeOut" value="300" />-->
    <!--/DATABASE RELATED KEYS -->
    <!--SYSTEM KEYS-->
    <add key="DefaultSiteUrl" value="~/Default.htm" />
    <add key="SystemName" value="U-To" />
    <add key="SiteAddress" value="http://192.168.0.114/RIGHTSU_Plus/" />
    <!--/SYSTEM KEYS-->
    <!--LDAP RELATED KEYS-->
    <add key="isLDAPAuthReqd" value="N" />
    <add key="LDAP_adLdapPath" value="LDAP://uto.oracle11i.com:389/DC=UTO,DC=ORACLE11I,DC=COM" />
    <add key="LDAP_adDomain" value="oracle11i.com" />
    <!--/LDAP RELATED KEYS-->
    <!--SMTP RELATED KEYS-->
    <add key="ISMAILSEND" value="N" />
    <add key="MailUid" value="tushar" />
    <add key="MailPwd" value="tushar" />
    <add key="UseDefaultCredentials" value="False" />
    <add key="MailPort" value="25" />
    <add key="TemplatePath" value="MailTemplate" />
    <add key="RegardsBy" value="U-To" />
    <add key="FromMailId" value="pavitar@uto.in" />
    <add key="ToMailId" value="adesh@uto.in" />
    <add key="EmailSubject" value="Page Crashed Dev Environment" />
    <add key="SMTPServer" value="192.168.0.154" />
    <add key="AppError" value="Y" />
    <!--/SMTP RELATED KEYS-->
    <!--UPLOAD RELATED-->
    <add key="UploadFilePath" value="UploadFolder/" />
    <add key="AttachFileFormat" value=".txt,.doc,.jpg" />
    <add key="UploadLogoPath" value="Logos" />
    <add key="AttachLogoFormat" value=" .jpeg, .jpg, .gif, .bmp" />
    <add key="TitleImagePath" value="~/UploadFolder/Title_Images/" />
    <add key="DefaultTitleIcon" value="movieIcon.png" />
    <!--/UPLOAD RELATED-->
    <!--REPORTING SERVICE RELATED KEYS-->
    <add key="ReportingServer" value="http://192.168.0.115/ReportServer" />
    <add key="ReportingServerFolder" value="/RIGHTSU_Plus" />
    <add key="ReportingServerFolder_HV" value="/RIGHTSU_Plus" />
    <add key="IsCredentialRequired" value="true" />
    <add key="CredentialsUserPassWord" value="welcome#321" />
    <add key="CredentialsUserName" value="reshma" />
    <add key="CredentialdomainName" value="uto" />
    <!--<add key="ReportingServer" value="http://penna.viacom18.com/ReportServer" />
    <add key="ReportingServerFolder" value="/RightsU_Plus_V18" />
    <add key="ReportingServerFolder_HV" value="/RightsU_Plus_VMPL" />
    <add key="IsCredentialRequired" value="true" />
    <add key="CredentialsUserPassWord" value="V18@March#2019" />
    <add key="CredentialsUserName" value="uto_rms" />
    <add key="CredentialdomainName" value="viacom18" />-->
    <!--/REPORTING SERVICE RELATED KEYS-->
    <add key="VersionFor" value="V18" />
    <add key="Version_No" value="5" />
    <add key="WriteErrLog" value="Y" />
    <add key="CountryCodeForCurrencyFormat" value="INR" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <connectionStrings>
    <!--<add name="AMS_RelianceConnectionString" connectionString="Data Source=lab2008;Initial Catalog=AMS_Reliance;Persist Security Info=True;User ID=prathesh;Password=prathesh" providerName="System.Data.SqlClient" />-->
    <!--<add name="RightsU_NeoEntities" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UTO2008R2-SQLR2;initial catalog=RightsU_Neo;persist security info=True;user id=viacom18;password=rightsu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--CON STR FOR BROADCASTER-->
    <!--<add name="RightsU_Broadcaster" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.115;initial catalog=Rightsu_Plus_testing;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RightsU_Broadcaster" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.16.144;initial catalog=RightsU_Broadcast;persist security info=True;user id=rightsu;password=Welcome@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RightsU_MotionPicture" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.16.144;initial catalog=RightsU_VMPL;persist security info=True;user id=rightsu;password=Welcome@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RightsU_Broadcaster" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.115;initial catalog=Rightsu_Plus_testing;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RightsU_MotionPicture" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.115;initial catalog=Rightsu_Plus_testing;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpModules>
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="OutputCache" />
    </httpModules>
    <!--<customErrors mode="On" defaultRedirect="Error.html"/>-->
    <customErrors mode="On" defaultRedirect="Error.html" />
    <globalization uiCulture="en-GB" culture="en-GB" />
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="ucPTV" tagName="ucTab" src="~/Reports/UserControl/UC_Platform_Tree.ascx" />
        <add tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="ucSelectedPTV" tagName="ucTab" src="~/Reports/UserControl/UC_Platform_Tree_Selected.ascx" />
      </controls>
    </pages>
    <httpHandlers>
      <clear />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <httpRuntime targetFramework="4.8" executionTimeout="900000" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" enable="true" />
    <sessionState timeout="200" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <clear />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
        <requestLimits maxAllowedContentLength="10240000" maxQueryString="1024" maxUrl="2048">
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>