<div class="content-wrapper">
    
  <section class=" content-header">
    <h1>Change Password
      <small></small>
    </h1>
    <hr class="hrborder">
    
  </section>
 
  <section class="content-subHeader" style="margin-top: -1%;">
      <form #ChangePSWForm="ngForm" >
    <div class="row">
      <!-- <div> -->
      <!-- </div> -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-6" style="padding-top: 2%;">
            <div class="row">
              <div class="col-lg-4" style="text-align: right;margin-top: 5px;">
                  <label>Old Password :</label>
              </div>
              <div class="col-lg-8"style="padding:0px;">
                  <input id="inputOldPassword" class="ChangePSWTextBox" type="password" maxlength="25" autocomplete="off" placeholder="Old Password" size="30" pInputText [(ngModel)]="oldPSW"  required (keydown.space)="$event.preventDefault();" name="oldPassword" #oldPassword="ngModel">

              </div>
            </div>
            <div class="row" style="padding-top: 1%;">
                <div class="col-lg-4" style="text-align: right;margin-top: 5px;">
                    <label>New Password :</label>
                </div>
                <div class="col-lg-8"style="padding:0px;">
                    <input id="inputNewPassword" class="ChangePSWTextBox" type="password" maxlength="25" autocomplete="off" placeholder="New Password" size="30" pInputText [(ngModel)]="newPSW"  required (keydown.space)="$event.preventDefault();" pattern="((?=.*\d)(?=.*[a-z])(?=.*[@#$%]).{8,25})" name="newPassword" #newPassword="ngModel">
  
                </div>
              </div>
              <div class="row" style="padding-top: 1%;">
                  <div class="col-lg-4" style="text-align: right;margin-top: 5px;">
                      <label>Confirm Password :</label>
                  </div>
                  <div class="col-lg-8"style="padding:0px;">
                      <input id="inputConfirmPassword" class="ChangePSWTextBox" type="password" maxlength="25" autocomplete="off" placeholder="Confirm Password" size="30" pInputText [(ngModel)]="confirmedPSW"  (keydown.space)="$event.preventDefault();" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[@#$%]).{8,25})" name="confirmedPassword" #confirmedPassword="ngModel">
    
                  </div>
                </div>
            </div>
            <div class="col-lg-2">

              </div>

      </div>
          
      </div>

    </div>
    </form>
    <div class="row" style="padding-top: 2%">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2" >

          </div>
          <div class=" col-lg-9">
            <div class="row">
              <!-- <div class="col-lg-1">

              </div> -->
              <div class="col-lg-7">
                  <button type="button" [disabled]="!ChangePSWForm.form.valid && !ChangePSWForm.form.pattern " Class="btn btn-info submit" (click)="submitChangePswdRequest()">Submit</button>&nbsp;
                  <button type="button"  Class="btn btn-danger" *ngIf="ChangePSW=='Y'"  (click)="CancelClick()">Cancel</button>                          
                </div>
                <!--  -->
                <div class="col-lg-5">

                  </div>
            </div>
              
          </div>
          <div class="col-lg-1">

          </div>

        </div>
        
          <!-- <div class="col-lg-11"> -->
              <!--  -->
             
            <!-- </div> -->
          <!-- <div class="col-lg-1"> -->
          <!-- </div> -->

        
        
      </div>
<div class="row">
  <div class="col-lg-12">
    <div class=" row">
      <!-- <div class="col-lg-1">

      </div> -->
      <div class="col-lg-10" style="vertical-align: bottom;bottom: -250px; padding-left: 2%" >
          <small style="color: red;"><label>Note:- Password should contains 1 Special Character,1 Alphabet,1 Number and length should be between 8 to 25 Characters.</label> </small>

      </div>

    </div>
  </div>

</div>
    </div>

  </section>

  
  
 
  <div *ngIf="load" id="loadingDiv"></div>
  <div *ngIf="displayalertMessage">
    <app-message-box  [messageData]="messageData"></app-message-box>

  </div>
</div>
