@model RightsU_Entities.Platform_Group
@{
    var a = (string)ViewBag.strListLanguageCodes;

}
<script src="~/JS_Core/jquery-ui.js"></script>


<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<link type="text/css" rel="stylesheet" href="~/css/ui.fancytree.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/JS_Core/jquery.sumoselect.js"></script>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />

<script>
    var URL_BindLanguageTreeView = '@Url.Action("BindLanguageTreeView", "AvailabilityOld")';
    var URL_BindDropdown = '@Url.Action("BindDropdown", "AvailabilityOld")';



    function BindLanguage() {
        //var codes = $("#hdnTVCodes_Sub").val('@a');
        var codes = $('#hdnTVCodes_SubLang_G').val('@a');

        $.ajax({
            type: "POST",
            url: URL_BindLanguageTreeView,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                strListLanguageCodes: codes
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                initializeChosen();
                $('#treeDown_SubLang').empty();
                $('#treeDown_SubLang').html(result);
            },
            error: function (result) { }
        });
    }

    function BindTreeDownSubLang() {
        $("#hdnTVCodes_Sub").val('@a');


        $.ajax({
            type: "POST",
            url: URL_BindLanguageTreeView,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                strListLanguageCodes: $("#hdnTVCodes_Sub").val()
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                $('#treeDown_SubLang').html(result);
            },
            error: function (result) { }
        });
    }

</script>



<script>


    $(document).ready(function () {
        $(".plusminus").text('-');
        $('#ddlLanguageGroupNew').SumoSelect();
        //$("#ddlLanguageGroupNew").val('@ViewBag.AvailAllLanguageCode')[0].sumo.reload();
        $('.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css("font-weight", 100)
        $('.SumoSelect .select-all.partial > span i').css("display", "none");
        $('.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css("font-size", 12)

        $('#SubLangTab').click(function () {
            debugger;
            $('#accordianSubLanguage').click();
            $('#hdnSubLanguageType').val('LG');

            var IsFlag_Subtitling = $('#hdnIsFlag_Subtitling').val();

            if (IsFlag_Subtitling == "N") {
                var selectedCodes = $("#hdnTVCodes_SubLang_G").val();
                AddEditLanguage_Group(selectedCodes);
                $('#hdnIsFlag_Subtitling').val('Y');
            }
            else {

            }

        })

        $(".accordion_head_Sub").click(function () {
            debugger;
            if ($('.accordion_body').is(':visible')) {
                $(".accordion_body").slideUp(300);
                $(".plusminus").text('+');
            }

            if ($(this).next(".accordion_body").is(':visible')) {
                $(this).next(".accordion_body").slideUp(300);
                $(this).children(".plusminus").text('+');
            } else {
                $(this).next(".accordion_body").slideDown(300);
                $(this).children(".plusminus").text('-');
            }
        });

        $('#accordianLanguage_Sub').click(function () {
            debugger;
            var pt = $('#hdnSubLanguageType').val();

            var platformCodes = "";
            if (pt == "P")
                platformCodes = $("#hdnTVCodes_SubLang").val();
            if (pt == "LG")
                platformCodes = $("#hdnTVCodes_SubLang_G").val();

            var acc = $('#hdnAccordianSub').val();

            if(acc == "N"){
                BindLanguageGroupDetails(platformCodes);
                $('#hdnAccordianSub').val('Y');
            }
            else {

            }

            //$('#ddlListLanguageGroup').empty();
            //$("#ddlListLanguageGroup").prop('disabled', true)[0].sumo.reload();
        })
        $("#ddlMustHaveLanguage").attr('disabled', 'disabled');

        $('#lstLLanguageGroupNew').SumoSelect();
        //$('#ddlListLanguageGroup').SumoSelect();
        $('#ddlMustHaveLanguage').SumoSelect();


        $("input:checkbox").on('click', function () {
            debugger;
            // in the handler, 'this' refers to the box clicked on
            var $box = $(this);
            if ($box.is(":checked")) {

                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);

            }
        });

        $('input[type=checkbox][name=CheckSub]').change(function () {
            debugger
            //if (this.value == 'EM') {
            //    $("#ddlMustHaveLanguage").prop('disabled', true)[0].sumo.reload();
            //    //$("#ddlMustHaveLanguage").attr('disabled', 'disabled');
            //}
            //else if (this.value == 'MH') {

            //    // $("#ddlMustHaveLanguage").removeAttr('disabled', 'disabled');
            //    $("#ddlMustHaveLanguage").prop('disabled', false)[0].sumo.reload();
            //}

            if ($("#chkMustHave_Sub").prop('checked') == true) {
                $("#ddlMustHaveLanguage").prop('disabled', false)[0].sumo.reload();
            }

            else if ($("#chkExactMatch_Sub").prop('checked') == true) {
                $("#ddlMustHaveLanguage").prop('disabled', true)[0].sumo.reload();
                var obj = [];
                $('option:selected').each(function () {
                    obj.push($(this).index());
                });

                for (var i = 0; i < obj.length; i++) {
                    $('#ddlMustHaveLanguage')[0].sumo.unSelectItem(obj[i]);
                }
                //$("#ddlMustHaveLanguage").prop('disabled', true)[0].sumo.reload();
            }
            else if ($("#chkMustHave_Sub").prop('checked') == false && $("#chkExactMatch_Sub").prop('checked') == false) {
                $("#ddlMustHaveLanguage").prop('disabled', true)[0].sumo.reload();
                var obj = [];
                $('option:selected').each(function () {
                    obj.push($(this).index());
                });

                for (var i = 0; i < obj.length; i++) {
                    $('#ddlMustHaveLanguage')[0].sumo.unSelectItem(obj[i]);
                }

                //$("#ddlMustHaveLanguage").prop('disabled', true)[0].sumo.reload();
            }
            $('.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css('text-align', 'left');

        });

        $('#ddlLanguageGroupNew').on('change', function (evt, params) {
            //$('#lstLLanguageGroupNew').val('')[0].sumo.reload();
            $('#chkMustHave_Sub').prop('checked', false);
            //$('#ddlListLanguageGroup').empty();
            //$('#ddlListLanguageGroup').prop('disabled', false)[0].sumo.reload();
            $('#ddlMustHaveLanguage').empty();
            $('#ddlMustHaveLanguage').val('')[0].sumo.reload();
            $('#ddlMustHaveLanguage').prop('disabled', true)[0].sumo.reload();
        })

        var ojTerr = [];
        $('#ddlListLanguageGroup').on('change', function (evt, params) {

            debugger;
            ojTerr = [];
            var strHTML = '';
            var exclusionRegionCode = '';
            var mustHaveRegionCode = '';
            var a = "";

            var x = $('#hdnSelectedValues').val($('#ddlMustHaveLanguage').val());

            $('#ddlMustHaveLanguage').empty();
            $('#ddlListLanguageGroup option').each(function () {
                var s = $(this);
                strHTML = strHTML + s[0].outerHTML;
            });

            $("#ddlMustHaveLanguage").html(strHTML);

            $('#ddlListLanguageGroup option:selected').each(function () {
                if (exclusionRegionCode == '')
                    exclusionRegionCode = this.value;
                else
                    exclusionRegionCode = exclusionRegionCode + ',' + this.value;

                $('#ddlMustHaveLanguage option[value="' + this.value + '"]').remove();


            });

            var j = x.val().split(',');
            for (var i = 0; i < j.length; i++) {
                if (j[i] != exclusionRegionCode) {
                    ojTerr.push(j[i]);
                }
            }

            $('#ddlMustHaveLanguage').val(exclusionRegionCode);
            $('#hdnExclusionLangGrpLangCode').val(exclusionRegionCode);
            debugger;
            if (exclusionRegionCode != '')
                $('#spExclusionCountryCount').html(" (" + exclusionRegionCode.split(',').length + ")");
            else
                $('#spExclusionCountryCount').html(' (0)');

            if ($("#ddlMustHaveLanguage").val() != null) {
                mustHaveRegionCode = $("#ddlMustHaveLanguage").val();
                $('#spMustExactHaveCountryCount').html("(" + mustHaveRegionCode.length + ")");
            }
            else
                $('#spMustExactHaveCountryCount').html('(0)');

            $('#hdnExclusionLangGrpLangCode').val(exclusionRegionCode);
            $('#hdnMustHaveLangGrpLangCode').val(mustHaveRegionCode);
            $('#hdnIsCriteriaChange').val('Y');
            debugger;
            var obj = [];
            $('#ddlMustHaveLanguage').siblings('div').find('ul.options > li.opt.selected').each(function () {
                obj.push(parseInt($.trim($(this)[0].innerText)));
            });

            $('#hdnMustHaveLangGrpLangCode').val(obj.join(','));
            $("#ddlMustHaveLanguage").val(ojTerr)[0].sumo.reload();
        });

        var ojCountry = [];
        $('#lstLLanguageGroupNew').on('change', function (evt, params) {
            debugger;
            ojCountry = [];
            $('#ddlLanguageGroupNew').val('').trigger('chosen:updated');
            //$('#ddlListCountry').empty();
            //$("#ddlListCountry").prop('disabled', true)[0].sumo.reload();
            $('#result').text('');

            var strHTML = '';
            var regionCode = '';

            var x = $('#hdnSelectedValues').val($('#ddlMustHaveLanguage').val());

            $('#hdnLangGrpLangCodes').val('');

            $('#lstLLanguageGroupNew option:selected').each(function () {
                debugger;
                var s = $(this);
                strHTML = strHTML + s[0].outerHTML;
                if (regionCode == '')
                    regionCode = s[0].value;
                else
                    regionCode = regionCode + ',' + s[0].value;
            });

            var j = x.val().split(',');
            for (var i = 0; i < j.length; i++) {
                if (j[i] != regionCode) {
                    ojCountry.push(j[i]);
                }
            }

            $('#hdnLangGrpLangCodes').val(regionCode);
            $("#ddlMustHaveLanguage").html(strHTML);

            if ($('#hdnMustHaveLangGrpLangCode').val() != '') {
                $("#ddlMustHaveLanguage").val($('#hdnMustHaveLangGrpLangCode').val().split(','))[0].sumo.reload();

                if ($("#ddlMustHaveLanguage").val() != null) {
                    $('#hdnMustHaveLangGrpLangCode').val($("#ddlMustHaveLanguage").val().join(','));
                    $('#spMustExactHaveCountryCount').html('(' + $('#hdnMustHaveLangGrpLangCode').val().split(',').length + ')');
                }
                else {
                    $('#hdnMustHaveLangGrpLangCode').val('');
                    $('#spMustExactHaveCountryCount').html('(0)');
                }
            }
            else {
                $("#hdnMustHaveLangGrpLangCode,#ddlMustHaveLanguage").val('')[0].sumo.reload();
                $('#spMustExactHaveCountryCount').html('(0)');
            }

            if (regionCode != '')
                $('#spCountryCount').html("(" + regionCode.split(',').length + ")");
            else
                $('#spCountryCount').html("(0)");
            var obj = [];
            $('#ddlMustHaveLanguage').siblings('div').find('ul.options > li.opt.selected').each(function () {
                obj.push(parseInt($.trim($(this)[0].innerText)));
            });
            $('#hdnMustHaveLangGrpLangCode').val(obj.join(','));
            //$("#ddlMustHaveLanguage").val()[0].sumo.reload();
            $("#ddlMustHaveLanguage").val(ojCountry)[0].sumo.reload();

        });

        $('#spanTempSub').on('click', function (event) {
            event.stopImmediatePropagation();
        });

    });
    function LoadMoreOptionSubtitlePopup() {
    }






</script>
<style>
    /*.accordion_body{
        border:0px !important;
    }*/
    #Tree_Filter_Rights_Platform_SubLang_G {
        width: 417px;
    }

    #Rights_Platform_SubLang_G {
        max-height: 300px !important;
        overflow-y: auto;
    }

    #ddlLanguageGroupNew_chosen {
        width: 70% !important;
    }

    #pupupHtml, #pupupHtml1_SubLang, #divMustHave {
        /*max-height: 300px !important;*/
        text-align: left !important;
    }

    #pupupHtml1_SubLang {
        word-wrap: break-word;
        overflow: hidden;
        /*max-height: 100px*/
        /*overflow-y: auto;*/
    }

    select#ddlLanguageGroupNew {
        width: 100%;
        max-width: 400px;
        top: 167px;
        left: 656px;
        max-height: 180px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2147483647;
    }

    /*.accordion_container {
        width: 500px;
    }*/

    .accordion_head_Sub {
        background-color: #DEDEDE;
        color: black;
        cursor: pointer;
        font-family: arial;
        font-size: 14px;
        margin: 0 0 1px 0;
        padding: 7px 11px;
        font-weight: bold;
        width: 429px;
        text-align: left;
    }

    .accordion_body {
        /*background: rgba(211, 211, 211, 0.41);*/
        width: 429px;
        padding: 5px;
        border: 1px dotted black;
        border-top: 0px;
    }

        .accordion_body p {
            padding: 5px 5px;
            margin: 0px;
        }

    .plusminus {
        float: right;
    }

    #divLanguageGroupDetails {
        word-wrap: break-word;
        overflow: hidden;
        max-height: 100px;
        overflow-y: auto;
    }


    .morecontent span {
        display: none;
    }

    .morelink {
        display: block;
    }

    .sumo_ddlLanguageGroupNew {
        width: 300px !important;
    }

    .SumoSelect > .CaptionCont > span {
        margin-top: 4px;
        padding-left: 5px;
    }
</style>


<div class="scale_table_block">
    <div class="accordion_container">

        <div class="accordion_head_Sub" id="accordianSubLanguage">
            Subtitling<span class="plusminus">+</span>
            <span id="spanTempSub">
                @Html.ListBox("ddlLanguageGroupNew", ViewBag.ddlLanguageGroupNew as MultiSelectList, new { @id = "ddlLanguageGroupNew", @onchange = "AddEditLanguage_Group()", @class = "" })
                @*@Html.DropDownList("ddlLanguageGroupNew", ViewBag.ddlLanguageGroupNew as MultiSelectList, new { @id = "ddlLanguageGroupNew", @onchange = "AddEditLanguage_Group()", @class = "form_input chosen-select" })*@
            </span>
        </div>
        <div class="accordion_body">
            @*@Html.DropDownList("ddlLanguageGroupNew", ViewBag.ddlLanguageGroupNew as MultiSelectList, new { @id = "ddlLanguageGroupNew", @onchange = "BindLanguageGroupDetails()", @class = "form_input chosen-select" })
                <div id="divLanguageGroupDetails">
                    <span id="resultLanguageDetails" class="more"></span>
                </div>*@

            <div id="pupupHtml1_SubLang">
                <div id="divTree" class="platform_wrapper">
                    <div id="treeDown_SubLang" class="treeClass">
                    </div>
                    <span id="lblTheatrical" style="display: none;">Theatrical</span>
                    <input type="hidden" id="hdnTVCodes_SubLang_G" name="hdnTVCodes" />
                </div>
            </div>

        </div>
        <div class="accordion_head_Sub" id="accordianLanguage_Sub">
            More Options<span class="plusminus">+</span>
        </div>
        <div class="accordion_body" style="display: none;text-align:center">
            @*@Html.DropDownList("lstLLanguageGroupNew", ViewBag.lstLLanguageGroupNew as MultiSelectList, new { @id = "lstLLanguageGroupNew", @multiple = "multiple" })*@
            <table>
                @*<tr>
                        <td>
                            <b>Exclusion</b>
                            <br />
                            <select id="ddlListLanguageGroup" multiple></select>

                        </td>
                    </tr>*@
                <tr>
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="CheckSub" id="chkExactMatch_Sub" value="EM" onclick="MutExChkList(this)" text="Exact Match" />
                            <b>Exact Match</b>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="CheckSub" id="chkMustHave_Sub" value="MH" onclick="MutExChkList(this)" text="Must Have">
                            <b>Must Have</b>
                        </label>
                        <br />
                        <select id="ddlMustHaveLanguage" multiple></select>
                    </td>
                </tr>
            </table>

            &nbsp;

        </div>
    </div>
</div>
@*<div class="scale_table_block" style="text-align:center">
        <b>Exclusion</b>
        <br />
        <select id="ddlListLanguageGroup" multiple></select>

    </div>
    <br />
    <div class="scale_table_block" style="text-align:center">

        <label class="checkbox-inline">
            <input type="checkbox" name="CheckSub" id="chkExactMatch_Sub" value="EM" onclick="MutExChkList(this)" text="Exact Match" />
            <b>Exact Match</b>
        </label>
        &nbsp;
        <label class="checkbox-inline">
            <input type="checkbox" name="CheckSub" id="chkMustHave_Sub" value="MH" onclick="MutExChkList(this)" text="Must Have">
            <b>Must Have</b>
        </label>
        <br />
        <select id="ddlMustHaveLanguage" multiple></select>

    </div>*@
<input type="hidden" id="hdnLangGrpLangCodes" />
<input type="hidden" id="hdnExclusionLangGrpLangCode" />
<input type="hidden" id="hdnMustHaveLangGrpLangCode" />
<input type="hidden" id="hdnSelectedValues" />