<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Ado" connectionString="Password=dbserver2012;Persist Security Info=True;User ID=dbserver2012;Initial Catalog=RightsU_EF_Plus;Data Source=192.168.0.115" providerName="MySql.Data.MySqlClient"/>
    <add name="RightsU_NeoEntities" connectionString="metadata=res://*/Models.RightsU_EF.csdl|res://*/Models.RightsU_EF.ssdl|res://*/Models.RightsU_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.115;initial catalog=RightsU_EF_Plus;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
