
<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar ">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
	  <!--li class="active"><a href="home.htm"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li -->
	  <li class="active">
			<a href="home.htm"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>			
        </li>
		<li class="treeview">
			<a href="#"><i class="fa fa-fax"></i><span>Requisition Module</span><i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="new_request.htm"><i class="fa fa-circle-o text-aqua"></i> New Request </a></li>
				<li><a href="MusicTrackCreation.htm"><i class="fa fa-circle-o text-aqua"></i> New Music Tracks</a></li>
			</ul>
        </li>	
		<li class="treeview">
			<a href="#"><i class="fa fa-music"></i><span>Music Assignment</span><i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="MusicAssignment_Import.htm"><i class="fa fa-circle-o text-aqua"></i> Import</a></li>
				<li><a href="MusicAssignment_export.htm"><i class="fa fa-circle-o text-aqua"></i> Export</a></li>
			</ul>
        </li>
        <li class="treeview">
			<a href="#"><i class="fa fa-files-o"></i><span>Reports</span><i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="Report_AuthorisedMusic.htm"><i class="fa fa-circle-o text-aqua"></i>Authorised Music</a></li>
				<!--li><a href="Report_MusicConsumption.htm"><i class="fa fa-circle-o text-aqua"></i>Music Consumption</a></li>
				<li><a href="Report_Exceptions.htm"><i class="fa fa-circle-o text-aqua"></i> Exceptions Report</a></li -->
				<li><a href="Report_StatusHistory.htm"><i class="fa fa-circle-o text-aqua"></i>Status History</a></li>				
			</ul>
        </li>
       <!--li class="treeview">
		 <a href="#">
		 <i class="fa fa-cog" aria-hidden="true"></i><span>System Setting</span>
		 <i class="fa fa-angle-left pull-right"></i>
		 </a>
		 <ul class="treeview-menu">
			<li><a href="UserRole.htm"><i class="fa fa-circle-o text-aqua"></i> User Roles</a></li>
			<li><a href="userList.htm"><i class="fa fa-circle-o text-aqua"></i> Users</a></li>
		 </ul>
	  </li -->	 
	  <li><a href="index.htm"><i class="fa fa-power-off" aria-hidden="true"></i><span>Logout</span></a></li>	 
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>