<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Timer" value="5000" />
    <add key="LogPath" value="D:\EventLogs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunDefPath" value="http://192.168.0.192:3002/addUpdateRights" />
    <add key="AssetPath" value="http://192.168.0.192:3001/addAssets" />
    <add key="PlayorderPath" value="http://192.168.0.192:3001/addPlayOrders" />
    <add key="AuthKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJhZG1pbiIsImlhdCI6MTUxNjIzOTAyMn0.KEvPYmbg6HW1RhOrxYL5ZvweeiS2rzfs1u06HYkoNZg" />
    <add key="IsAuthKeyRequired" value="N" />
    <add key="TXT_Url" value="C:\UTO Projects\ScheduleUploadFiles\TextFile\" />
    <add key="CSV_Url" value="C:\UTO Projects\ScheduleUploadFiles\CSVFile\" />
    <add key="Success_File" value="\Success\" />
    <add key="Failed_File" value="\Failed\" />
    <add key="File_Extension" value=".TXT" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="MusicHubConn" connectionString="data source=192.168.0.82;initial catalog=RightsU_Plus_dev;persist security info=True;user id=sa;password=QWEpoi#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
