<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Timer" value="1000"/>
    <add key="LogPath" value="E:\UTO_Projects\BookingSheet\Window Service\CreateBookingSheetTemplate\CreateBookingSheetTemplate"/>
    <add key="UploadFilePath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\Download\BookingSheet\"/>
    <add key="ImportFilePath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\UploadFolder\BookingSheet\"/>
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=192.168.0.115;Initial Catalog=RightsU_Plus_Testing;User ID=dbserver2012;password=dbserver2012;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
