<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MusicHubConn" connectionString="data source=192.168.0.82;initial catalog=RightsU_Plus_dev;persist security info=True;user id=sa;password=QWEpoi#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="DBConnection" connectionString="data source=192.168.0.82;initial catalog=RightsUngReports_V18;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="MusicHubConn" connectionString="data source=163.182.171.194;initial catalog=RightsU_Aeroplay;persist security info=True;User ID=sa;password=QWEpoi#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="TXT_Url" value="C:\UTO Projects\ScheduleUploadFiles\TextFile\" />
    <add key="CSV_Url" value="C:\UTO Projects\ScheduleUploadFiles\CSVFile\" />
    <add key="Success_File" value="\Success\" />
    <add key="Failed_File" value="\Failed\" />
    <add key="File_Extension" value=".TXT" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>