<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MusicHubConn" connectionString="data source=192.168.0.115;initial catalog=RightsU_Plus_Testing;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="DBConnection" connectionString="data source=192.168.0.115;initial catalog=RightsUngReports_V18;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="MusicHubConn" connectionString="data source=163.182.171.194;initial catalog=RightsU_Aeroplay;persist security info=True;User ID=sa;password=QWEpoi#123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>