@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<div class="tab-pane" id="tabMusic">
    <div class="scale_table_block">
        <table class="table">
            <tr>
                <td>
                    <label>ABC</label>
                </td>
            </tr>
            <tr>

        </table>

    </div>
    <div class="scale_table_block" id="divRunDefList">
    </div>
</div>
