@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<link href="~/Custom_Scripts/Custom_CSS/Acq_Deal_List.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/CSS/jquery.timeentry.css">
<script type="text/javascript" src="~/JS_Core/jquery.plugin.js"></script>
<script type="text/javascript" src="~/JS_Core/jquery.timeentry.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/ui.fancytree.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script>

    var URL_BindGrid = '@Url.Action("BindGrid", "TAT")';
    var URL_AssignTAT = '@Url.Action("AssignTAT", "TAT")';
    var URL_ButtonEvent = '@Url.Action("ButtonEvent", "TAT")';
    $(document).ready(function () {
        BindGrid();
        initializeTooltip();
    })
    function BindGrid() {
        showLoading();
        var pageNo = $('#hdnPageIndex').val();
        var pageSize = $('#hdnPageSize').val();
        $.ajax({
            type: "POST",
            url: URL_BindGrid,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify({
                PageNo: pageNo,
                PageSize: pageSize
            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $("#divTAT").html(result);
                    $('#hdnPageNo').text(1);
                    $('#lblRecordCount').text(result.Record_Count);
                    $("#hdnRecordCount").val(result.Record_Count);
                    initializeTooltip();
                }
                hideLoading();
            },

            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });

        $("#hdnPageIndex").val(pageNo);
    }
    function AssignTAT(tatcode) {
        showLoading();
        $.ajax({
            type: "POST",
            url: URL_AssignTAT,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify({
                TATCode: tatcode,
                DealTypeCode: $("#ddlDealType").val()
            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $("#divTAT").html(result);
                    initializeTooltip();
                }
                hideLoading();
            },

            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
    function ButtonEvent(action, tatCode) {
        var IsValid = true;
        if (action == 'Assign') {
            if($('#ddlBusinessUnit').val() == '0')
            {
                $('#ddlBusinessUnit').addClass('required');
                IsValid = false;
            }
            else
            {
                $('#ddlBusinessUnit').removeClass('required');
            }
            if ($('#ddlUser').val() == '0')
            {
                $('#ddlUser').addClass('required');
                IsValid = false;
            }
            else
            {
                $('#ddlUser').removeClass('required');
            }
            if ($('#ddlDealFormat').val() == '0') {
                $('#ddlDealFormat').addClass('required');
                IsValid = false;
            }
            else
            {
                $('#ddlDealFormat').removeClass('required');
            }
        }
        if (action == 'Send For QC') {
            if ($('#txtAgreementNo').val().trim() == '') {
                $('#txtAgreementNo').addClass('required');
                IsValid = false;
            }
            else {
                $('#txtAgreementNo').removeClass('required');
            }
        }
        if (IsValid) {
            showLoading();
            $.ajax({
                type: "POST",
                url: URL_ButtonEvent,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                async: false,
                data: JSON.stringify({
                    Action: action,
                    TATCode: tatCode,
                    BuCode: $('#ddlBusinessUnit').val(),
                    UserCode: $('#ddlUser').val(),
                    Type: $('input[name=Type]:checked').val(),
                    IsAmend: $('input[name=IsAmend]:checked').val(),
                    DealType: $('#ddlDealFormat').val(),
                    AgreementNo: $('#txtAgreementNo').val(),
                    TATSLACode: $('#ddlSLA').val()
                }),
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        showAlert(result.MessageType, result.message, "OK")
                        initializeTooltip();
                        AssignTAT(tatCode);
                    }
                    hideLoading();
                },

                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }

    function DeleteConfirmation(dummyGuid) {
        $('#hdnDeleteId').val(dummyGuid);
        $('#finalSave').val('D');
        showAlert("I", "Are you sure, you want to delete this record?", 'OKCANCEL');
        return false;
    }
    function handleOk() {
        if ($('#finalSave').val() == 'Y') {
            var recordLockingCode = parseInt($('#hdnRecordLockingCode').val())
            if (recordLockingCode > 0)
                ReleaseRecordLock(recordLockingCode, URL_Release_Lock);
            $('#hdnRecordLockingCode').val('');
            BindGrid();
        }
        if ($('#finalSave').val() == 'D')
            DeleteUser($('#hdnDeleteId').val());
    }

</script>
<div class="main_section" >
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <input type="hidden" id="hdnRecordislocked" name="hdnRecordislocked" value="Y" />
            <input type="hidden" id="hdnRecordLockingCode" name="hdnRecordLockingCode" value="0" />
            <input type="hidden" id="hdnPageIndex" value="1" />
            <input type="hidden" id="hdnPageSize" value="10" />
            <div id="divTAT">

            </div>
            <div id="dvNoRecords" class="grid_area deal clearfix" style="display: none">
                No Records Found!!
            </div>
        </div>
    </section>
</div>

