@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }

}
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #divResult {
        margin-top: 10px;
    }

    .SumoSelect {
        width: 220px;
    }

    #ddlMasterList_chosen {
        width: 89% !important;
    }

    #ddlUsers_chosen {
        width: 89% !important;
    }

    #ddlActionTypeList_chosen {
        width: 89% !important;
    }    
    
</style>
<script>

    var URL_BindAuditLog_Search_Controls = '@Url.Action("BindAuditLog_Search_Controls", "Reports")';

    $(document).ready(function () {
        debugger;

        BindAuditLog_Search_Controls();
     
    });


    function BindAuditLog_Search_Controls() {
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        $.ajax({
                type: "POST",
                url: URL_BindAuditLog_Search_Controls,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                }),
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {

                        $("#ddlMasterList").empty();
                        $("#ddlUsers").empty();
                        $("#ddlActionTypeList").empty();                        
                        
                        debugger;                       

                        $("#ddlMasterList").append($("<option>").val("").text("Please Select"));
                        $(result.lstMasterList).each(function (index, item) {
                            $("#ddlMasterList").append($("<option>").val(this.Value).text(this.Text));
                        });
                        $("#ddlMasterList").trigger("chosen:updated")

                        $("#ddlUsers").append($("<option>").val("").text("Please Select"));
                        $(result.lstUsers).each(function (index, item) {
                            $("#ddlUsers").append($("<option>").val(this.Value).text(this.Text));
                        });
                        $("#ddlUsers").trigger("chosen:updated")

                        $("#ddlActionTypeList").append($("<option>").val("").text("Please Select"));
                        $(result.lstActionType).each(function (index, item) {
                            $("#ddlActionTypeList").append($("<option>").val(this.Value).text(this.Text));
                        });
                        $("#ddlActionTypeList").trigger("chosen:updated")

                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });

    }

    function ClearAll() {
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        $('#txtLogSearch').val('');

        $("#ddlMasterList").find("option").attr("selected", false);
        $("#ddlMasterList").val('').trigger("chosen:updated");

        $("#ddlUsers").find("option").attr("selected", false);
        $("#ddlUsers").val('').trigger("chosen:updated");

        $("#ddlActionTypeList").find("option").attr("selected", false);
        $("#ddlActionTypeList").val('').trigger("chosen:updated");

        $('#txtStart').val('');       
        $('#txtEnd').val('');

    }

    function ShowHideSearchCriteria(show) {
        if (show == 'S') {
            $('#divFilter').show();
            $('#tdShowImg').hide();
            $('#tdHideImg').show();
            $('#divFilter').width = '100%';
        }
        else if (show == 'H') {
            debugger;
            $('#divFilter').hide();
            $('#tdHideImg').hide();
            $('#tdShowImg').show();
            $('#divFilter').width = '100%';
        }
    }

      function populateTitle(evt) {
        debugger;
        var Selected_BUCode = 0;
        var Selected_Title_Codes = "";

        var selectedtxt = $('#txtTitleSearch').val()
        var dealtype = 0;
        if ($('#ddlDeal_Type_CodeCommon').val() == null || $('#ddlDeal_Type_CodeCommon').val() == undefined)
            dealtype = 0;
        else
            dealtype = $('#ddlDeal_Type_CodeCommon').val();
        var txt = selectedtxt.split(',');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtTitleSearch").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        Selected_deal_type_Code: dealtype,
                        Selected_BUCode: Selected_BUCode,
                        Selected_Title_Codes: Selected_Title_Codes,
                        Searched_Title: $('#txtTitleSearch').val()
                    };
                    $.ajax({
                        url: '@Url.Action("GetTitle", "Title_List")',
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            $("#lbTitle_Code").val('');
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtTitleSearch').removeClass('loader');
                                    return {
                                        label: 'Result Not Found',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtTitleSearch').removeClass('loader');
                                    return {
                                        label: v.Display_Text,
                                        val: v.Display_Value
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    var text = this.value.split(/﹐\s*/);
                    text.pop();
                    text.push(i.item.value);
                    text.push("");
                    this.value = text;
                    this.value = text.join("﹐");
                    var value = $("#hdnTitleSearch").val().split(/,\s*/);
                    value.pop();
                    value.push(i.item.val);
                    value.push("");
                    $("#hdnTitleSearch")[0].value = value.join(", ");
                    return false;
                },
                minLength: 2,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                },
            });
        }
        else
            return false;
    }

    function populateOrigTitle(evt) {
        debugger;
        var Selected_BUCode = 0;
        var Selected_Title_Codes = "";

        var selectedtxt = $('#txtOrigTitleSearch').val()
        var dealtype = 0;
        if ($('#ddlDeal_Type_CodeCommon').val() == null || $('#ddlDeal_Type_CodeCommon').val() == undefined)
            dealtype = 0;
        else
            dealtype = $('#ddlDeal_Type_CodeCommon').val();
        var txt = selectedtxt.split(',');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtOrigTitleSearch").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    debugger;
                    var param = {
                        Selected_deal_type_Code: dealtype,
                        Selected_BUCode: Selected_BUCode,
                        Selected_Title_Codes: Selected_Title_Codes,
                        Searched_Title: $('#txtOrigTitleSearch').val(),
                        isOriginal: 'Y'
                    };
                    $.ajax({
                        url: '@Url.Action("GetTitle", "Title_List")',
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                $("#lbOrigTitle_Code").val('');
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtOrigTitleSearch').removeClass('loader');
                                    return {
                                        label: 'Result Not Found',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtOrigTitleSearch').removeClass('loader');
                                    return {
                                        label: v.Display_Text,
                                        val: v.Display_Value
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    var text = this.value.split(/﹐\s*/);
                    text.pop();
                    text.push(i.item.value);
                    text.push("");
                    this.value = text;
                    this.value = text.join("﹐");
                    var value = $("#hdnOrigTitleSearch").val().split(/,\s*/);
                    value.pop();
                    value.push(i.item.val);
                    value.push("");
                    $("#hdnOrigTitleSearch")[0].value = value.join(", ");
                    return false;
                },
                minLength: 2,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                },
            });
        }
        else
            return false;
    }

       function validateSearch() {
        debugger;

        var  tmpMasterList = '', tmpUsers = '', txtLogSearch = '', tmpActionType = '';
           
        if ($('#ddlMasterList').val())
            tmpMasterList = $('#ddlMasterList').val();

        if ($('#ddlUsers').val())
            tmpUsers = $('#ddlUsers').val

        if ($('#ddlActionTypeList').val())
            tmpActionType = $('#ddlActionTypeList').val();           

           var txtLogSearch = $('#txtLogSearch').val();

           if (tmpProducer == '' && tmpGenres == '' && tmpStarCast == '' && tmpLanguage == '' && tmpOrigLang == '' && tmpDeal == '' && tmpDirector == '' && txtYearOfRelease == '' && $('#txtTitleSearch').val() == '' && txtOrigTitleSearch == '' && txtLogSearch =='') {
            showAlert('e', 'Please Select at least one record');
            return false;
        }
        else {
            AdvanceSearch();
        }
    }

    function AdvanceSearch() {
        debugger;
        var tmpMasterList = '', tmpUsers = '', txtLogSearch = '', tmpActionType = '';

        if ($('#ddlMasterList').val())
            tmpMasterList = $('#ddlMasterList').val();

        if ($('#ddlUsers').val())
            tmpUsers = $('#ddlUsers').val

        if ($('#ddlActionTypeList').val())
            tmpActionType = $('#ddlActionTypeList').val();

        var txtLogSearch = $('#txtLogSearch').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("BindTitleDetailsReports", "Reports")',
            traditional: true,
            enctype: 'multipart/form-data',
            async: false,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                SrchStarCast: tmpStarCast,
                SrhDealTypeCode: tmpDeal,
                SrchLanguage: tmpLanguage,
                SrchDirector: tmpDirector,
                SrchYearOfRelease: txtYearOfRelease,
                SrchTitle: $('#txtTitleSearch').val(),
                SrchOrigLang: tmpOrigLang,
                SrchOrigTitle: $('#txtOrigTitleSearch').val(),
                SrchProducer: tmpProducer,
                SrchGenres: tmpGenres,
                ExtendedMetaData: extendedMetaData
            }),
            success: function (result) {

                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divResult').empty();
                    $('#divResult').html(result);
                }
            },
            error: function (result) {
                alert(result);
            }
        });
    }
</script>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="title_block dotted_border clearfix">
                <h2>Audit Log Report</h2>
            </div>
            <div id="divFilter">
                <table border="0"style="border-spacing: 5px;border-collapse: separate;padding: 0px;">
                    <tr>
                        <td><label style="font-weight:bold"> Masters:</label></td>
                        <td style="width:20%">
                            <select id="ddlMasterList" class="form_input chosen-select"></select>
                        </td>
                        <td style="width:10%"><label style="font-weight:bold"> User:</label></td>
                        <td style="width:20%">
                            <select id="ddlUsers" class="form_input chosen-select"></select>
                        </td>
                        <td style="width:10%" ><label style="font-weight:bold"> Log Search</label></td>
                        <td style="width:20%">
                            <input type="text" placeholder="Search" class="text" id="txtLogSearch" value='' />
                        </td>
                        <td style="width:10%"><label style="font-weight:bold"> Action Type:</label></td>
                        <td style="width:20%">
                            <select id="ddlActionTypeList" class="form_input chosen-select"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%"><label style="font-weight:bold">Start Date:</label></td>
                        <td style="width:20%">
                            <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="From" width="100"
                                   title="Start Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            <input type="hidden" id="hdnStartDate" />
                        </td>
                        <td style="width:10%"><label style="font-weight:bold">End Date:</label></td>
                        <td style="width:20%">
                            <input type="text" class="isDatepicker" id="txtEnd" name="End_Date" placeholder="To" width="100"
                                   title="End Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            <input type="hidden" id="hdnEndDate" />
                        </td>
                        <td colspan="2">
                            <div class="pull-right" style="padding-right: 19px;">
                                <input type="button" id="btnShow" class="btn btn-primary " value="Show" onclick="validateSearch()"> &nbsp; &nbsp;
                                <input type="button" id="btnReset" class="btn btn-primary " value="Reset" onclick="ClearAll()">
                            </div>
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="title_block dotted_border clearfix">
            </div>
            <div>
                <table>
                    <tr align="left" id="trImg">
                        <td id='tdShowImg' align='left' style="display: none">
                            <input type="image" title="Expand" alt="Expand Search Criteria" style="cursor:pointer;" src="~/Images/expand.jpg" onclick="return ShowHideSearchCriteria('S');" />
                        </td>
                        <td id='tdHideImg' align="left">
                            <input type="image" title="Collapse" alt="Collapse Search Criteria" style="cursor:pointer;" src="~/Images/collapse.jpg" onclick="return ShowHideSearchCriteria('H');" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>

