@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    var URL_TestReport = '@Url.Action("TestReport", "Reports")';
    $(document).ready(function () {
        btnShow_OnClick();
    });

    function btnShow_OnClick() {
            $.ajax({
                type: "POST",
                url: URL_TestReport,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        $('#divResult').empty();
                        $('#divResult').html(result);
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
</script>
<style>
    #divResult {
        margin-top: 10px;
    }
</style>
<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="title_block dotted_border clearfix">
                <h2>Test Report</h2>
            </div>
            <div class="title_block dotted_border clearfix">
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>
