<div class="content-wrapper">

  <section class="content-header">
    <h1>
      {{showlistdata.Title_Name}} <small> </small>
    </h1>
    <hr class="hrborder">

  </section>

  <section class="content-subHeader">
    <!-- <section class="content-subHeader"> -->
    <div class="row">
      <!-- <form #newSearchRequestForm="ngForm"> -->
      <div class="col-xs-4">
        <div class="box box-warning">
          <div class="box-header">
            Primary Channel
          </div>
          <div class="box-body">
            <p-dropdown [options]="getChannelList" [style]="{'width':'210px'}" [autoWidth]="false" [(ngModel)]="newMusicConsumptionRequest.ChannelCode"
                        required name="channelname" [resetFilterOnHide]="true" placeholder="Select Channel Name" optionLabel="Channel_Name"
                        filter="true"></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-warning">

          <div class="box-header">
            <label>
              <input type="radio" class="flat-red" name="radgroup1" id="btnRadio1" checked (click)="EpisodeNocheck('tentative')"> Episode No.
              <!-- <p-radioButton class="flat-red" name="groupname" value="val1" id="btnRadio1" checked (click)="EpisodeNocheck('tentative')" [(ngModel)]="selectedValue">Tentative Episode No.</p-radioButton> -->
            </label>
            <label>
              <input type="radio" class="flat-red" name="radgroup1" id="btnRadio2" (click)="EpisodeNocheck('range')"> Episode Range
            </label>
          </div>
          <div class="box-body">
            <div *ngIf="showrbtndiv">
              <span class="block" id="txtEpisodeNo">
                Episode No. :
                <input type="number" min="{{MinEpisode}}" value="" maxlength="4" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value   < Number(this.min))  ? this.min : this.value" placeholder="" max="{{MaxEpisode}}" name="episodeNo" [(ngModel)]="episodeNo" (ngModelChange)="newMusicConsumptionRequest.EpisodeFrom=episodeNo;newMusicConsumptionRequest.EpisodeTo=episodeNo;"
                       class="RequestNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
              </span>

            </div>
            <div *ngIf="!showrbtndiv">
              <span id="txtFromEpide">
                From:
                <!-- (ngModelChange)="newMusicConsumptionRequest.EpisodeTo=newMusicConsumptionRequest.EpisodeFrom+1;episodeChange()" -->
                <input type="number" min="{{MinEpisode}}" value="" maxlength="4" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.value;this.value=(this.value < Number(this.min)) ? this.min : this.value" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" max="{{MaxEpisode}}" name="episodeNoFrom" [(ngModel)]="newMusicConsumptionRequest.EpisodeFrom" class="RequestNumber">
                <!-- <input type="text" pInputText min="1" max=9999  /> -->
              </span>
              <span id="txtToEpide">
                To:
                <input type="number" max="{{MaxEpisode}}" min="{{MinEpisode}}" maxlength="4" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);this.value=(this.value   > Number(this.max))  ? this.max : this.valuethis.value=(this.value < Number(this.min)) ? this.min : this.value" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                       placeholder="" name="episodeNoTo" [(ngModel)]="newMusicConsumptionRequest.EpisodeTo" class="RequestNumber">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="box box-warning">
          <div class="box-header">
            Tentative Telecast Date:
          </div>
          <div class="box-body">
            <div *ngIf="showrbtndiv">
              <span class="block" id="txtAiringNo">
                Date:
                <p-calendar [(ngModel)]="newMusicConsumptionRequest.TelecastFrom" name="epiTelecastDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" readonlyInput="true"></p-calendar>

                <!-- <input type="date" value="" placeholder="" class="TextBox5" name="epiTelecastDate" [(ngModel)]="episodeDate" (ngModelChange)="newMusicConsumptionRequest.TelecastFrom=episodeDate;newMusicConsumptionRequest.TelecastTo=episodeDate"> -->
              </span>

            </div>
            <div *ngIf="!showrbtndiv">
              <span id="txtFromDate">
                <div>
                  From:
                  <!-- [maxDate]="newMusicConsumptionRequest.TelecastTo" (ngModelChange)="telcastFromDateChnge()" -->
                  <p-calendar id="Telecastfrom" [(ngModel)]="newMusicConsumptionRequest.TelecastFrom" name="epiFromDate" [showIcon]="true" readonlyInput="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                </div>

                <!-- <input type="date" value="" placeholder="dd/mm/yyyy" class="TextBox5" name="epiFromDate" [(ngModel)]="newMusicConsumptionRequest.TelecastFrom"> -->
              </span>

              <span id="txtToDate">
                <div style="padding-top: 2%;padding-left:4.5%;">
                  To:
                  <!-- [minDate]="newMusicConsumptionRequest.TelecastFrom" [disabled]="newMusicConsumptionRequest.TelecastFrom=='' || newMusicConsumptionRequest.TelecastFrom==null" -->
                  <p-calendar id="Telecastto" [(ngModel)]="newMusicConsumptionRequest.TelecastTo" [disabled]="newMusicConsumptionRequest.TelecastFrom=='' || newMusicConsumptionRequest.TelecastFrom==null" name="epiToDate" readonlyInput="true" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>

                  <!-- <input type="date" value="" placeholder="dd/mm/yyyy" class="TextBox5" name="epiToDate" [(ngModel)]="newMusicConsumptionRequest.TelecastTo"> -->
                </div>

              </span>
            </div>

          </div>
        </div>


      </div>
      <!-- </form> -->
    </div>

    <!-- </section> -->


    <div class="row gutter" style="padding-left: 5% ;">
      <div class="col-md-1 slick-prev" style="margin-top: 2%;"><i class="fa fa-chevron-left"></i></div>
      <div class="col-md-10  your-class" style="margin-left: -5%;">

        <div class="info-box" style="height: 70px;margin-right: 10px;" *ngFor="let list of componentData.listview ;let i=index">
          <div id="{{i}}" (click)="getlist(list,i)">
            <span class="info-box-icon bg-aqua" style="height: 70px;width: 70px;line-height: 65px !important;">
              <i class="fa fa-music" aria-hidden="true" style="font-size:40px;margin-left: -5px;"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text" pTooltip="{{list.PlaylistName}}" tooltipPosition="left" style="white-space:initial !important;margin-left: -10%;text-transform: none !important;">{{list.PlaylistName}}</span>
              <!-- <span class="info-box-number" ><a  id="btnFavourites">15</a><small></small></span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 slick-next" style="margin-top: 2%;"><i class="fa fa-chevron-right"></i></div>
    </div>



  </section>
  <div *ngIf="componentLoad">
    <app-cart-grid [componentData]="componentData" [newMusicConsumptionRequest]="newMusicConsumptionRequest" [componentType]="componentType" [gridvalue]="gridvalue" (newList)="getNewList($event)"></app-cart-grid>
  </div>
</div>
<div *ngIf="load" id="loadingDiv"></div>

