<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunAtInterval" value="1000" />
    <add key="ArchiveRunAtHrs" value="1" />
    <add key="ArchiveDaysBefore" value="30" />
    <add key="LogFolderPath" value="D:\\LogFolder\\" />
    <add key="EmailSendId" value="sachin@uto.in" />
    <add key="EmailToId" value="sachin@uto.in" />
    <add key="UseDefaultCredential" value="false" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="FromEmailId" value="sachin@uto.in" />
    <add key="NTUserName" value="sachin@uto.in" />
    <add key="NTPassword" value="302gOld!!!!" />
    <add key="SMTPPort" value="587" />
    <add key="EnableSsl" value="True" />
    <add key="LogURL" value="http://192.168.0.114/UTOLogUI/WebAPI/api/LogService/LGSaveMessage"/>
    <add key="WriteLog" value="True"/>
    <add key="LogLevel" value="1"/>
    <add key="DefaultConnection" value="data source=192.168.0.115;initial catalog=NotificationEngine;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;"  />
    <add key="salt" value="abc123"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>