<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RightsU_PurchaseOrder_Export.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Timer" value="1000"/>
    <add key="LogPath" value="E:\UTO_Projects\PurchaseOrder\PurchaseOrder\PurchaseOrder"/>
    <add key="LogFilePath" value="E:\\UTO_Projects\\PurchaseOrder\\PurchaseOrder\\PurchaseOrder"/>
    <add key="asmxPath" value="reportexecution2005.asmx"/>
    <add key="rdlPurchaseOrder" value="/RightsU_v18/rpt_AL_Purchase_Order"/>
    <add key="rdlPurchaseOrderShow" value="/RightsU_v18/rpt_AL_Purchase_Order_Show"/>
    <add key="outputPath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\Download\PurchaseOrder\"/>
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=192.168.0.115;Initial Catalog=RightsU_Plus_Testing;User ID=dbserver2012;password=dbserver2012;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
  
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  
  <applicationSettings>
    <RightsU_PurchaseOrder_Export.Properties.Settings>
      <setting name="RightsU_PurchaseOrder_Export_WebReference_ReportExecutionService" serializeAs="String">
        <value>http://192.168.0.115:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="RightsU_AL_Purchase_Order_Service_WebReference_ReportExecutionService" serializeAs="String">
        <value>http://192.168.0.115:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </RightsU_PurchaseOrder_Export.Properties.Settings>
  </applicationSettings>
  
</configuration>
