<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RightsU_PurchaseOrder_Export_CA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=192.168.0.115;Initial Catalog=RightsU_Plus_Testing;User ID=dbserver2012;password=dbserver2012;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <!--<add name="DbConn" connectionString="Data Source=163.182.171.194;Initial Catalog=RightsU_Plus_Testing_23JUN2023;User ID=sa;password=QWEpoi#123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>  
    <add key="LogFilePath" value="E:\\UTO_Projects\\RightsU_PurchaseOrder_Export_CA\\RightsU_PurchaseOrder_Export_CA\\RightsU_PurchaseOrder_Export_CA"/>
    <add key="asmxPath" value="reportexecution2005.asmx"/>
    <add key="rdlPurchaseOrder" value="/RightsU_v18/rpt_AL_Purchase_Order"/>
    <add key="rdlPurchaseOrderShow" value="/RightsU_v18/rpt_AL_Purchase_Order_Show"/>
    <add key="outputPath" value="E:\UTO_Projects\RightsU_Plus\RightsU_Plus\Download\RightsU_PurchaseOrder_Export_CA\"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <RightsU_PurchaseOrder_Export_CA.Properties.Settings>
      <setting name="PurchaseOrder_WebReference_ReportExecutionService" serializeAs="String">
        <value>http://192.168.0.115:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </RightsU_PurchaseOrder_Export_CA.Properties.Settings>
  </applicationSettings>
</configuration>
