<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunAtInterval" value="1000" />
    <add key="RunAtInterval" value="1000" />
    <add key="LogFolderPath" value="D:\\LogFolder" />
    <add key="EmailSendId" value="sachin@uto.in" />
    
    <add key="DefaultConnection" value="data source=192.168.0.115;initial catalog=NotificationEngine;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;"  />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>