<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Timer" value="5000" />
    <add key="LogPath" value="D:\Health_Checkup_Logs" />
    <add key="CS_Count" value="1"/>

    <add key="HC_Env" value="Viacom18 UAT Server"/>
    <add key="Server" value="APP"/> 
    <!--APP : Appplication Server ; DB : Database Server ; APPDB : Application Plus Database Server-->

    <!--Services Name-->
    <add key="IIS_Service" value="W3SVC"/>
    <add key="SSRS_Service" value="ReportServer"/>
    <add key="SQL_Service" value="MSSQLSERVER"/>
    <add key="SQL_Agent_Service" value="SQLSERVERAGENT"/>
    <add key = "WindowsService" value = "RightsU_Music_Usage_Report~RightsU Health Checkup" />
    <add key = "WindowsService_Display_Name" value = "RightsU Music Usage Report~RightsU Health Checkup" />

    <!--Particular Section Name-->
    <add key="SSJ" value="SQL Server Job"/>
    <add key="DTL" value="Database Details"/>
    <add key="DPP" value="Acq/Syn Deals Pending For Processing (RightsU_USP_Deal_Process)"/>
    <add key="DRP" value="Acq/Syn Deals Rights Pending For Processing (RightsU_Validate_Acq_Deal_Rights , RightsU_Syn_Rights_Validation)"/>
    <add key="DAG" value="Acq/Syn Deals Pending for Avail Generation - (RightsU_Avail_Process)"/>
    <add key="DDF" value="Dirty Data Found"/>
    <add key="RBI" value="RU BV Integration Status"/>

    <!--Application Path-->
    <add key="RightsU_Application" value="RightsU Revamp~E:\Application\RightsU_Revamp|RightsU Intuitive Sports~E:\Application\RightsU_Intuitive_Sports"/>

    <!--Email Configuration Network Credential-->
    <add key="Subject" value="RightsU HC"/>
    <add key="toMailId" value="rightsmanagement@viacom18.com"/>
    <add key="ccMailId" value="akshay@uto.in"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CS1" connectionString="server=192.168.0.115;database=RightsU_Plus_Testing;user id=dbserver2012;pwd=dbserver2012"/>
    <add name="CS2" connectionString="server=192.168.0.115;database=RightsU_Plus_Testing;user id=dbserver2012;pwd=dbserver2012"/>
  </connectionStrings>
</configuration>