         
            <app-header></app-header>
            <!-- <div class="wrapper"> -->
            <footer class="main-footer">
              <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
              </div>
              <strong><img src="../assets/Images/rightsu_footer.jpg" alt="RightsU">&nbsp;&nbsp; Product of <a href="http://www.uto.in/" target="_blank">U-TO Solutions</a>.</strong>
            </footer>
                  <div style="padding-bottom:3%;">
                    <router-outlet></router-outlet>  

                  </div>
              <!-- </div> -->
