@model List<RightsU_Entities.AL_Recommendation>
@using UTOFrameWork.FrameworkClasses
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Proposal - CY</th>
            <th>Cycle</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        Malaysia Airline
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.AL_Proposal_Code)
                    </td>
                    <td style="text-align:center">
                        <span>
                            @{
                                string date = "";
                                if (item.Start_Date != null && item.End_Date != null)
                                {
                                    date = item.Start_Date.Value.ToString("MMy") + "-" + item.End_Date.Value.ToString("MMy");   
                                }
                                @date
                            }
                        </span>
                    </td>
                    <td style="text-align:center">
                        <a title="@objMessageKey.View" class="glyphicon glyphicon-eye-open" style="cursor: pointer;"></a>

                        <a title="Export" class="glyphicon glyphicon-export" style="cursor: pointer;"></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">@objMessageKey.Norecordfound</td>
            </tr>
        }
    </tbody>
</table>