<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RightsU_Recommendation_Export_CA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MusicHubConn" connectionString="data source=192.168.0.115;initial catalog=RightsU_Plus_Testing;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="DBConnection" connectionString="data source=192.168.0.115;initial catalog=RightsUngReports_V18;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="UploadFilePath" value="E:\UTO_Projects\Recom PDF Conversion\RightsU_Recommendation_Export_CA\RightsU_Recommendation_Export_CA\Temp\"/>
    <add key="asmxPath" value="reportexecution2005.asmx"/>
    <add key="rdlALRecomPDFConversion" value="/RightsU_v18/rpt_AL_Recom_PDF_Conversion"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RightsU_Recommendation_Export_CA.Properties.Settings>
      <setting name="RightsU_Recommendation_Export_CA_WebReference_ReportExecutionService" serializeAs="String">
        <value>http://192.168.0.115:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="AL_Export_WebReference_ReportExecutionService" serializeAs="String">
        <value>http://192.168.0.115:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </RightsU_Recommendation_Export_CA.Properties.Settings>
  </applicationSettings>
</configuration>
