<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Timer" value="5000"/>
    <add key="LogPath" value="D:\EventLogs"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RunDefPath" value="http://192.168.0.192:3002/addUpdateRights"/>
    <add key="AssetPath" value="http://192.168.0.192:3001/addAssets"/>
    <add key="PlayorderPath" value="http://192.168.0.192:3001/addPlayOrders"/>
    <add key="AuthKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJhZG1pbiIsImlhdCI6MTUxNjIzOTAyMn0.KEvPYmbg6HW1RhOrxYL5ZvweeiS2rzfs1u06HYkoNZg"/>
    <add key="IsAuthKeyRequired" value="N"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="RightsU_PlusEntities" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.115;initial catalog=RightsU_Plus;persist security info=True;user id=dbserver2012;password=dbserver2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
